<a href="https://colab.research.google.com/github/Maoelan/1918008_Maulana-Muhammad_Comvis_Feature-Extraction/blob/main/klasifikasi_serangan_jantung.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/dataset/heart_cleveland_upload.csv')
df.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0

In [10]:
df2 = df[(df['age']>40) & (df['age']<50)]
df2

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
18,45,1,0,110,264,0,0,132,0,1.2,1,0,2,1
19,42,1,0,148,244,0,2,178,0,0.8,0,2,0,0
50,49,0,1,134,271,0,0,162,0,0.0,1,0,0,0
51,49,1,1,130,266,0,0,171,0,0.6,0,0,0,0
52,48,1,1,110,229,0,0,168,0,1.0,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,43,1,3,110,211,0,0,161,0,0.0,0,0,2,0
287,42,0,3,102,265,0,2,122,0,0.6,1,0,0,0
288,42,1,3,136,315,0,0,125,1,1.8,1,0,1,1
289,42,1,3,140,226,0,0,178,0,0.0,0,0,0,0
290,41,1,3,110,172,0,2,158,0,0.0,0,0,2,1

In [14]:
x = df.iloc[:, 0:13]
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,40,1,3,152,223,0,0,181,0,0.0,0,0,2
293,39,1,3,118,219,0,0,140,0,1.2,1,0,2
294,35,1,3,120,198,0,0,130,1,1.6,1,0,2
295,35,0,3,138,183,0,0,182,0,1.4,0,0,0
296,35,1,3,126,282,0,2,156,1,0.0,0,0,2

In [15]:
y = df.iloc[:, 13]
y

0      0
1      0
2      0
3      1
4      0
      ..
292    1
293    1
294    1
295    0
296    1
Name: condition, Length: 297, dtype: int64

In [20]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2)
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
200,60,1,3,125,258,0,2,141,1,2.8,1,1,2
137,44,0,2,108,141,0,0,175,0,0.6,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0
73,71,0,2,110,265,1,2,130,0,0.0,0,1,0
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,44,1,2,140,235,0,2,180,0,0.0,0,0,0
93,60,1,2,140,185,0,2,155,0,3.0,1,0,0
296,35,1,3,126,282,0,2,156,1,0.0,0,0,2
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0
277,45,1,3,142,309,0,2,147,1,0.0,1,3,2

In [21]:
y_train

200    1
137    0
1      0
73     0
0      0
      ..
140    0
93     1
296    1
4      0
277    1
Name: condition, Length: 237, dtype: int64

In [23]:
from sklearn.svm import SVC

clf = SVC()
clf = clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)

In [24]:
from sklearn.metrics import accuracy_score

print(accuracy_score(y_pred, y_test))

0.6166666666666667